<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-3 sm:pb-20 sm:px-10 bg-slate-300">
        <div class="flex-1 min-w-0">

            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-3xl text-slate-700 font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Dashboard
                </h2>
            </div>

        </div>
        
    </div>


    <!-- Main -->
    <div class="flex-auto -mt-16 p-4 bg-slate-200">

        <!-- CONTENT GOES HERE -->
        <div class="flex justify-center h-full ">

            <!-- OUTER FLEX CONTAINER -->
            <div class="flex-initial w-[1400px]">
                        
                <!-- ROW 1 -->
                <div class="flex flex-col lg:flex-row">
                    
                    <!-- ROW 1 - LEFT SIDE -->
                    <div class="flex-auto basis-2/5">
                        
                        <div class="flex flex-row lg:flex-col">

                            <div class="flex-auto basis-1/2 h-40 pb-4 pr-4">

                                <!-- SKILL CARD -->
                                <a [routerLink]="['/skills/my-skills']">
                                    <div class="flex relative items-center h-36 rounded-xl p-3 shadow-md bg-white" >

                                        <div class="flex-auto basis-1/4">
                                            <img
                                                class="w-24 h-24 mx-auto "
                                                src="assets/images/logo/logo.svg"
                                                alt="My Skills">
                                        </div>
                                    
                                        <div class="flex-auto basis-3/4 p-4">
                                            <div class="sm:text-lg md:text-2xl lg:text-2xl font-extrabold leading-tight text-sky-900">My Skills: {{counts?.skills ?? 0}}</div>
                                            <div class="mt-1 hidden sm:block ">
                                                <p class="text-sky-500" style="
                                                display: -webkit-box;
                                                overflow: hidden;
                                                -webkit-line-clamp: 2;
                                                -webkit-box-orient: vertical;">
                                                What you do and how well
                                            </p>
                                            </div>
                                            <div class="flex absolute bottom-0 right-0 items-center justify-end">
                                                <span class="text-1xl font-bold tracking-tight leading-7 text-slate-400">MORE</span>
                                                <mat-icon svgIcon="mat_solid:chevron_right"></mat-icon>
                                            </div>

                                        </div>

                                    </div>

                                </a>
       
                            </div>

                            <div class="flex-auto basis-1/2 h-40 pb-4 pr-0 lg:pr-4">

                                <!-- WISHLIST CARD -->
                                <a [routerLink]="['/wishlist']">
                                    <div class="flex relative items-center h-36 rounded-xl p-3 shadow-md bg-white" >

                                        <div class="flex-auto basis-1/4">
                                            <img
                                                class="w-24 h-24 mx-auto "
                                                src="assets/images/ui/wishlist.svg"
                                                alt="Wishlists">
                                        </div>
                                    
                                        <div class="flex-auto basis-3/4 p-4">
                                            <div class="sm:text-lg md:text-2xl lg:text-2xl font-extrabold leading-tight text-sky-900">Wishlists: {{wishlistscount}}</div>
                                            <div class="mt-1 hidden sm:block ">
                                                <p class="text-sky-500" style="
                                                display: -webkit-box;
                                                overflow: hidden;
                                                -webkit-line-clamp: 2;
                                                -webkit-box-orient: vertical;" >
                                                    Your goals and aspirations
                                                </p>
                                            </div>
                                            <div class="flex absolute bottom-0 right-0 items-center justify-end">
                                                <span class="text-1xl font-bold tracking-tight leading-7 text-slate-400">MORE</span>
                                                <mat-icon svgIcon="mat_solid:chevron_right"></mat-icon>
                                            </div>

                                        </div>

                                    </div>

                                </a>

                            </div>

                        </div>

                    </div>

                    <!-- ROW 1 - RIGHT SIDE -->
                    <div class="flex-auto basis-3/5 h-80 pb-4">

                        <a [routerLink]="['/home/public-profile/self']">

                            <div class="flex flex-col h-[304px] bg-white  rounded-lg shadow-md" >

                                <div class="flex-auto bg-local bg-cover relative h-40 bg-blue-300 rounded-t-lg" style="background-image: url('assets/images/backgrounds/bg-clouds.svg')">
                                    <div class="absolute inset-x-0 -bottom-10">
                                        <img
                                        class="w-36 h-36 mx-auto"
                                        src="assets/images/ui/user.svg"
                                        alt="Public Profile">
                                    </div>
                                </div>

                                <div class="flex-auto pl-5 pt-5 sm:text-lg md:text-2xl lg:text-2xl  font-extrabold leading-tight text-sky-900">Public Profile</div>

                                <div class="flex-auto pl-5">
                                    <p class="text-sky-500" style="
                                    display: -webkit-box;
                                    overflow: hidden;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;" >
                                        Visit your Public Profile to See your collecion of Skills, Talents, and Education. 
                                    </p>

                                </div>

                            </div>

                        </a>
               

                    </div>
                   
                </div>

                <!-- ROW 2 -->
                <div class="flex flex-col lg:flex-row">

                    <!-- ROW 2 - LEFT SIDE -->
                    <div class="flex-auto pb-4">

                        <div class="flex flex-row">

                            <div class="flex-auto basis-1/2 h-60 pr-4">



                                <!-- Academic Degrees -->
                                <a [routerLink]="['/education/academic-degrees']">
                                    <div class="flex flex-col h-full bg-white  rounded-lg shadow-md" >
                                        <div class="flex-auto relative h-30 bg-sky-200 rounded-t-lg">
                                            <div class="absolute inset-x-0 -bottom-6">
                                                <img
                                                class="w-36 h-36 mx-auto "
                                                src="assets/images/ui/degrees.svg"
                                                alt="Academic Degrees">
                                            </div>
                                        </div>
                                        <div class="flex-auto pl-5 pt-5 sm:text-lg md:text-2xl lg:text-2xl  font-extrabold leading-tight text-sky-900">Academic Degrees: {{counts?.degrees ?? 0}}</div>
                                        <div class="flex-auto pl-5">
                                            <p class="text-sky-500" style="
                                            display: -webkit-box;
                                            overflow: hidden;
                                            -webkit-line-clamp: 2;
                                            -webkit-box-orient: vertical;">
                                                Whatever your field of study 
                                            </p>

                                        </div>

                                    </div>

                                </a>

                            </div>

                            <div class="flex-auto basis-1/2 h-60 pr-0 lg:pr-4">

                                <!-- Certifications -->
                                <a [routerLink]="['/education/certifications-licenses']">
                                    <div class="flex flex-col h-full bg-white  rounded-lg shadow-md" >
                                        <div class="flex-auto relative h-30 bg-purple-200 rounded-t-lg">
                                            <div class="absolute inset-x-0 -bottom-6">
                                                <img
                                                class="w-36 h-36 mx-auto "
                                                src="assets/images/ui/certifications.svg"
                                                alt="Certifications and Licenses">
                                            </div>
                                        </div>
                                        <div class="flex-auto pl-5 pt-5 sm:text-lg md:text-2xl lg:text-2xl font-extrabold leading-tight text-sky-900">Certification & Licenses : {{counts?.certifications ?? 0}}</div>
                                        <div class="flex-auto pl-5">
                                            <p class="text-sky-500" style="
                                            display: -webkit-box;
                                            overflow: hidden;
                                            -webkit-line-clamp: 2;
                                            -webkit-box-orient: vertical;">
                                                Record your Certificates &amp; Licenses
                                            </p>

                                        </div>

                                    </div>

                                </a>

                            </div>

                        </div>

                    </div>
                    
                    <!-- ROW 2 - RIGHT SIDE -->
                    <div class="flex-auto pb-4">
                        
                        <div class="flex flex-row">

                            <div class="flex-auto basis-1/2 h-60 pr-4">


                                <!-- Professional Training -->
                                <a [routerLink]="['/education/professional-training']">
                                    <div class="flex flex-col h-full bg-white  rounded-lg shadow-md" >
                                        <div class="flex-auto relative h-30 bg-slate-300 rounded-t-lg">
                                            <div class="absolute inset-x-0 -bottom-6">
                                                <img
                                                class="w-36 h-36 mx-auto "
                                                src="assets/images/ui/training.svg"
                                                alt="Professioal Training">
                                            </div>
                                        </div>
                                        <div class="flex-auto pl-5 pt-5 sm:text-lg md:text-2xl lg:text-2xl font-extrabold leading-tight text-sky-900">Professional Training: {{counts?.training ?? 0}}</div>
                                        <div class="flex-auto pl-5">
                                            <p class="text-sky-500" style="
                                            display: -webkit-box;
                                            overflow: hidden;
                                            -webkit-line-clamp: 2;
                                            -webkit-box-orient: vertical;">
                                                Show off what you've learned 
                                            </p>

                                        </div>

                                    </div>

                                </a>

                            </div>

                            <div class="flex-auto basis-1/2 h-60">

                                <!-- Awards  -->
                                <a [routerLink]="['/education/awards-accolades']">
                                    <div class="flex flex-col h-full bg-white rounded-lg shadow-md" >
                                        <div class="flex-auto relative h-30 bg-green-200 rounded-t-lg">
                                            <div class="absolute inset-x-0 -bottom-6">
                                                <img
                                                class="w-36 h-36 mx-auto "
                                                src="assets/images/ui/awards.svg"
                                                alt="Awards and Accolades">
                                            </div>
                                        </div>
                                        <div class="flex-auto pl-5 pt-5 sm:text-lg md:text-2xl lg:text-2xl font-extrabold leading-tight text-sky-900">Awards & Accolades: {{counts?.awards ?? 0}}</div>
                                        <div class="flex-auto pl-5">
                                            <p class="text-sky-500" style="
                                            display: -webkit-box;
                                            overflow: hidden;
                                            -webkit-line-clamp: 2;
                                            -webkit-box-orient: vertical;">
                                                Recognize your recognition
                                            </p>
                                        </div>
                                    </div>
                                </a>

                            </div>

                        </div>

                    </div>

                </div>

                <!-- ROW 3 -->
                <div class="flex flex-col lg:flex-row">

                    <div class="flex-auto h-40 pb-4 pr-0 lg:pr-4">

                        <!-- TALENTS & HOBBIES CARD -->
                        <a [routerLink]="['/skills/talents-hobbies']">
                            <div class="flex relative items-center h-36 rounded-xl p-3 shadow-md bg-white" >

                                <div class="flex-auto basis-1/4">
                                    <img
                                        class="w-24 h-24 mx-auto "
                                        src="assets/images/ui/talents.svg"
                                        alt="Talents and Hobbies">
                                </div>
                            
                                <div class="flex-auto basis-3/4 p-4">
                                    <div class="sm:text-lg md:text-2xl lg:text-2xl font-extrabold leading-tight text-sky-900">Talents & Hobbies: {{counts?.talents ?? 0}}</div>
                                    <div class="mt-1 hidden sm:block ">
                                        <p class="text-sky-500" style="
                                        display: -webkit-box;
                                        overflow: hidden;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;">
                                        Your special interests and abilities
                                    </p>
                                    </div>
                                    <div class="flex absolute bottom-0 right-0 items-center justify-end">
                                        <span class="text-1xl font-bold tracking-tight leading-7 text-slate-400">MORE</span>
                                        <mat-icon svgIcon="mat_solid:chevron_right"></mat-icon>
                                    </div>

                                </div>

                            </div>

                        </a>

                    </div>

                    <div class="flex-auto  h-40 pb-4 pr-0 lg:pr-4">

                        <!-- MY REPORTS CARD -->
                        <a [routerLink]="['/reports/people-browser']">
                            <div class="flex relative items-center h-36 rounded-xl p-3 shadow-md bg-white " >

                                <div class="flex-auto basis-1/4">
                                    <img
                                        class="w-24 h-24 mx-auto "
                                        src="assets/images/ui/myreports.svg"
                                        alt="People Browser">
                                </div>
                            
                                <div class="flex-auto basis-3/4 p-4">
                                    <div class="sm:text-lg md:text-2xl lg:text-2xl font-extrabold leading-tight text-sky-900">People Browser</div>
                                    <div class="mt-1 hidden sm:block ">
                                        <p class="text-sky-500" style="
                                        display: -webkit-box;
                                        overflow: hidden;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;">
                                        
                                    </p>
                                    </div>
                                    <div class="flex absolute bottom-0 right-0 items-center justify-end">
                                        <span class="text-1xl font-bold tracking-tight leading-7 text-slate-400">MORE</span>
                                        <mat-icon svgIcon="mat_solid:chevron_right"></mat-icon>
                                    </div>

                                </div>

                            </div>

                        </a>

                    </div>

                    <div class="flex-auto  h-40 pb-4">

                            <!-- REPORT CATALOG CARD -->
                            <a [routerLink]="['/reports/report-catalog']">
                                <div class="flex relative items-center h-36 rounded-xl p-3 shadow-md bg-white" >

                                    <div class="flex-auto basis-1/4">
                                        <img
                                            class="w-24 h-24 mx-auto "
                                            src="assets/images/ui/reportcatalog.svg"
                                            alt="Report Catalog">
                                    </div>
                            
                                    <div class="flex-auto basis-3/4 p-4">
                                        <div class="sm:text-lg md:text-2xl lg:text-2xl font-extrabold leading-tight text-sky-900">Report Catalog</div>
                                        <div class="mt-1 hidden sm:block ">
                                            <p class="text-sky-500" style="
                                            display: -webkit-box;
                                            overflow: hidden;
                                            -webkit-line-clamp: 2;
                                            -webkit-box-orient: vertical;">
                                           
                                        </p>
                                        </div>
                                        <div class="flex absolute bottom-0 right-0 items-center justify-end">
                                            <span class="text-1xl font-bold tracking-tight leading-7 text-slate-400">MORE</span>
                                            <mat-icon svgIcon="mat_solid:chevron_right"></mat-icon>
                                        </div>

                                    </div>

                                </div>

                            </a>

                    </div>

                </div>

            </div>

        </div>
        
    </div>

</div>
