<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-3 sm:pb-20 sm:px-10 bg-slate-300">
        <div class="flex-1 min-w-0">

            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-3xl text-slate-700 font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Skill Browser
                </h2>
            </div>

        </div>
        
    </div>

    <!-- Main -->
    <div class="flex-auto -mt-16 p-6 sm:p-10 shadow bg-slate-100">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400">

            <!-- Outer Flex Container - Ensures the content area does not flex too wide. -->
            <div class="flex-initial w-[1400px]">

                <div class="text-2xl text-slate-700 font-bold tracking-tight mt-10 mb-10">

                    <mat-icon class="icon-size-8 mr-2" 
                    [svgIcon]="'feather:send'"
                        matPrefix>
                    </mat-icon>

                    {{item?.name}}
                </div>

                Users with this skill:
                <div *ngFor="let item of items" class="mt-2">
                    <div class="h-25 m-0 sm:mr-5 mb-5 p-5 h-25 shadow-lg border-2 border-slate-200 bg-sky-50 w-100"> 
                        <a [routerLink]="['/home/public-profile/' + item.uid]">{{item.uid}}</a> 
                    
                        <div class="mt-5 mb-3">Proficiency Rating: {{item.rating}}</div>
                    </div>
                </div>

             </div>

        </div>

    </div>

</div>