<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-3 sm:pb-20 sm:px-10 bg-slate-300">
        <div class="flex-1 min-w-0">

            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-3xl text-slate-700 font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Public Profile
                </h2>
            </div>

        </div>
        
    </div>

    <!-- Main -->
    <div class="flex-auto -mt-16 p-6 sm:p-10 shadow bg-slate-100">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 shadow-md rounded-2xl bg-white">

            <div class="flex flex-col bg-white " >

                <div class="flex-auto bg-local bg-cover relative h-40 bg-blue-300 rounded-t-lg" style="background-image: url('assets/images/backgrounds/bg-clouds.svg')">
                    <div class="absolute inset-x-0 -bottom-6">
                        <img
                        class="w-36 h-36 mx-auto "
                        src="assets/images/ui/user.svg"
                        alt="My Skills">
                    </div>
                </div>

                <div class="flex-auto pl-5 pt-5 text-2xl font-extrabold leading-tight text-sky-900 text-center">{{user?.name}}</div>

                <div class="flex-auto pl-5 text-center">
                    <p class="text-sky-500" style="
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;">
                       <a href="mailto:{{user?.email}}" title="send email to {{user?.name}}" target="_blank"> 
                            {{user?.email}}
                        </a>
                    </p>
                </div>
                
                <div class="flex-auto pl-5 mt-3">

                    <div *ngIf="user?.skills">

                        <mat-icon class="icon-size-8 mr-3" 
                        [svgIcon]="'feather:send'"
                            matPrefix>
                        </mat-icon>

                        <strong class="text-2xl">Skills</strong>

                        <div class="h-25 m-0 sm:mr-5 mb-3 p-5 h-25 shadow-lg border-2 border-slate-200 bg-blue-50">
                            <div *ngFor="let skill of (user?.skills | keyvalue)" class="mb-3">
                                {{user?.skills[skill.key]?.name}} : {{user?.skills[skill.key]?.rating}} 
                            </div>
                        </div>
                        
                    </div>

                    <div *ngIf="user?.certifications">

                        <mat-icon class="icon-size-8 mr-3" 
                        [svgIcon]="'heroicons_outline:document-text'"
                            matPrefix>
                        </mat-icon>

                        <strong class="text-2xl">Certifications</strong>
                        <div *ngFor="let certification of (user?.certifications | keyvalue)" class="mb-5">
                            <div class="h-25 m-0 sm:mr-5 mb-3 p-5 h-25 shadow-lg border-2 border-slate-200 bg-emerald-50">
                                <div class="font-semibold">{{user?.certifications[certification.key]?.name}}</div>
                                <span *ngIf="user?.certifications[certification.key]?.description">
                                    {{user?.certifications[certification.key]?.description}} <br />
                                </span> 
                                {{user?.certifications[certification.key]?.awardedby}} <br />
                                {{user?.certifications[certification.key]?.awardedon | date: 'MM/dd/yyyy' }} <br />
                                {{user?.certifications[certification.key]?.expireson | date: 'MM/dd/yyyy' }} <br />
                            </div>
                        </div>

                    </div>

                    <div *ngIf="user?.degrees">

                        <mat-icon class="icon-size-8 mr-3" 
                        [svgIcon]="'heroicons_outline:academic-cap'"
                            matPrefix>
                        </mat-icon>

                        <strong class="text-2xl">Degrees</strong>
                        <div *ngFor="let degree of (user?.degrees | keyvalue)" class="mb-5">
                            <div class="h-25 m-0 sm:mr-5 mb-3 p-5 h-25 shadow-lg border-2 border-slate-200 bg-purple-50">
                                <div class="font-semibold">{{user?.degrees[degree.key]?.degreetype}}</div> 
                                {{user?.degrees[degree.key]?.major}}<br >
                                <span *ngIf="user?.degrees[degree.key]?.minor">
                                {{user?.degrees[degree.key]?.minor}}<br />
                                </span>
                                {{user?.degrees[degree.key]?.institution}} <br />          
                                {{user?.degrees[degree.key]?.awardedon | date: 'MM/dd/yyyy' }} <br />
                            </div>
                        </div>

                    </div>
                        
                    <div *ngIf="user?.training">

                        <mat-icon class="icon-size-8 mr-3" 
                        [svgIcon]="'heroicons_outline:book-open'"
                            matPrefix>
                        </mat-icon>

                        <strong class="text-2xl">Training</strong>
                        <div *ngFor="let training of (user?.training| keyvalue)" class="mb-5">
                            <div class="h-25 m-0 sm:mr-5 mb-3 p-5 h-25 shadow-lg border-2 border-slate-200 bg-lime-50">
                                <div class="font-semibold">{{user?.training[training.key]?.name}}</div>
                                <span *ngIf="user?.training[training.key]?.description">
                                    {{user?.training[training.key]?.description}} <br />
                                </span>                           
                                {{user?.training[training.key]?.awardedby}} <br />
                                {{user?.training[training.key]?.awardedon | date: 'MM/dd/yyyy' }} <br />
                            </div>

                        </div>

                    </div>

                    <div *ngIf="user?.awards">  
                        
                        <mat-icon class="icon-size-8 mr-3" 
                        [svgIcon]="'feather:award'"
                            matPrefix>
                        </mat-icon>

                        <strong class="text-2xl">Awards</strong>
                        <div *ngFor="let award of (user?.awards | keyvalue)" class="mb-5">
                            <div class="h-25 m-0 sm:mr-5 mb-3 p-5 h-25 shadow-lg border-2 border-slate-200 bg-indigo-50">
                                <div class="font-semibold">{{user?.awards[award.key]?.name}}</div>
                                <span *ngIf="user?.awards[award.key]?.description">
                                    {{user?.awards[award.key]?.description}} <br />
                                </span> 
                                {{user?.awards[award.key]?.awardedby}} <br />
                                {{user?.awards[award.key]?.awardedon | date: 'MM/dd/yyyy' }} <br />
                            </div>
                        </div>

                    </div>
                        
                    <div *ngIf="user?.talents">

                        <mat-icon class="icon-size-8 mr-3" 
                        [svgIcon]="'feather:heart'"
                            matPrefix>
                        </mat-icon>

                        <strong class="text-2xl">Talents</strong>
                        <div *ngFor="let talent of (user?.talents | keyvalue)" class="mb-5">
                            <div class="h-25 m-0 sm:mr-5 mb-3 p-5 h-25 shadow-lg border-2 border-slate-200 bg-rose-50">
                                <div class="font-semibold">{{user?.talents[talent.key]?.name}}</div>
                                <span *ngIf="user?.talents[talent.key]?.description">
                                    {{user?.talents[talent.key]?.description}} <br />
                                </span> 
                            </div>

                        </div> 

                    </div>


                    <div class="mt-20"></div>

                    <div *ngIf="user?.wishlists?.skills">

                        <mat-icon class="icon-size-8 mr-1" 
                        [svgIcon]="'heroicons_outline:sparkles'"
                            matPrefix>
                        </mat-icon>

                        <mat-icon class="icon-size-8 mr-3" 
                        [svgIcon]="'feather:send'"
                            matPrefix>
                        </mat-icon>

                        <strong class="text-2xl">Wishlist Skills</strong>

                        <div class="h-25 m-0 sm:mr-5 mb-3 p-5 h-25 shadow-lg border-2 border-slate-200 bg-amber-50">
                            <div *ngFor="let skill of (user?.wishlists?.skills | keyvalue)" class="mb-3">
                                {{user?.wishlists?.skills[skill.key]?.name}} : {{user?.wishlists?.skills[skill.key]?.rating}} 
                            </div>
                        </div>
                        
                    </div>

                    <div *ngIf="user?.wishlists?.certifications">

                        <mat-icon class="icon-size-8 mr-1" 
                        [svgIcon]="'heroicons_outline:sparkles'"
                            matPrefix>
                        </mat-icon>

                        <mat-icon class="icon-size-8 mr-3" 
                        [svgIcon]="'heroicons_outline:document-text'"
                            matPrefix>
                        </mat-icon>

                        <strong class="text-2xl">Wishlist Certifications</strong>
                        <div *ngFor="let certification of (user?.wishlists?.certifications | keyvalue)" class="mb-5">
                            <div class="h-25 m-0 sm:mr-5 mb-3 p-5 h-25 shadow-lg border-2 border-slate-200 bg-amber-50">
                                <div class="font-semibold">{{user?.wishlists?.certifications[certification.key]?.name}}</div>
                                <span *ngIf="user?.wishlists?.certifications[certification.key]?.description">
                                    {{user?.wishlists?.certifications[certification.key]?.description}} <br />
                                </span> 
                                {{user?.wishlists?.certifications[certification.key]?.awardedby}} <br />
                                {{user?.wishlists?.certifications[certification.key]?.awardedon | date: 'MM/dd/yyyy' }} <br />
                                {{user?.wishlists?.certifications[certification.key]?.expireson | date: 'MM/dd/yyyy' }} <br />
                            </div>
                        </div>

                    </div>

                    <div *ngIf="user?.wishlists?.degrees">

                        <mat-icon class="icon-size-8 mr-1" 
                        [svgIcon]="'heroicons_outline:sparkles'"
                            matPrefix>
                        </mat-icon>

                        <mat-icon class="icon-size-8 mr-3" 
                        [svgIcon]="'heroicons_outline:academic-cap'"
                            matPrefix>
                        </mat-icon>

                        <strong class="text-2xl">Wishlist Degrees</strong>
                        <div *ngFor="let degree of (user?.wishlists?.degrees | keyvalue)" class="mb-5">
                            <div class="h-25 m-0 sm:mr-5 mb-3 p-5 h-25 shadow-lg border-2 border-slate-200 bg-amber-50">
                                <div class="font-semibold">{{user?.wishlists?.degrees[degree.key]?.degreetype}}</div> 
                                {{user?.wishlists?.degrees[degree.key]?.major}}<br >
                                <span *ngIf="user?.wishlists?.degrees[degree.key]?.minor">
                                {{user?.wishlists?.degrees[degree.key]?.minor}}<br />
                                </span>
                                {{user?.wishlists?.degrees[degree.key]?.institution}} <br />          
                                {{user?.wishlists?.degrees[degree.key]?.awardedon | date: 'MM/dd/yyyy' }} <br />
                            </div>
                        </div>

                    </div>
                        
                    <div *ngIf="user?.wishlists?.training">

                        <mat-icon class="icon-size-8 mr-1" 
                        [svgIcon]="'heroicons_outline:sparkles'"
                            matPrefix>
                        </mat-icon>

                        <mat-icon class="icon-size-8 mr-3" 
                        [svgIcon]="'heroicons_outline:book-open'"
                            matPrefix>
                        </mat-icon>

                        <strong class="text-2xl">Wishlist Training</strong>
                        <div *ngFor="let training of (user?.wishlists?.training| keyvalue)" class="mb-5">
                            <div class="h-25 m-0 sm:mr-5 mb-3 p-5 h-25 shadow-lg border-2 border-slate-200 bg-amber-50">
                                <div class="font-semibold">{{user?.wishlists?.training[training.key]?.name}}</div>
                                <span *ngIf="user?.wishlists?.training[training.key]?.description">
                                    {{user?.wishlists?.training[training.key]?.description}} <br />
                                </span>                           
                                {{user?.wishlists?.training[training.key]?.awardedby}} <br />
                                {{user?.wishlists?.training[training.key]?.awardedon | date: 'MM/dd/yyyy' }} <br />
                            </div>

                        </div>

                    </div>


                    <div class="w-full text-right mt-5 mb-3">
                        <button mat-raised-button class="mt-8 mr-3 mb-5" (click)="printThisPage()" matTooltip="print this page">print</button>
                        <button mat-raised-button class="mt-8 mr-3 mb-5" (click)="onDownloadUser()" matTooltip="export to json">json</button>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>